name: telegram-bot-api

services:
  api:
    image: telegram-bot-api
    container_name: telegram-bot-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
      - 8787:8787
    environment:
      - TELEGRAM_API_ID=${TELEGRAM_API_ID}
      - TELEGRAM_API_HASH=${TELEGRAM_API_HASH}
      - TG_HTTP_PORT=8080
      - TG_HTTP_STAT_PORT=8787
      - TG_DIR=/app/data
      - TG_TEMP_DIR=/app/data/temp
      - TG_LOG=/app/data/log.txt
      - TG_VERBOSITY=1
      - TG_MEMORY_VERBOSITY=1
    volumes:
      - ./data:/app/data